<ion-view class=" " style="background-color: rgb(249, 249, 249);" id="page1" title="launch" hide-nav-bar="true">
    <ion-tabs style="" id="launch-tabs1" class="tabs-energized tabs-icon-top ">
        <ion-tab class=" " id="launch-tab1" title="Home" icon="ion-ios-home" href="#/homing/home">
            <ion-nav-view name="home"></ion-nav-view>
        </ion-tab>
        <ion-tab  class=" " id="launch-tab2" title="Boy" icon="ion-ios-contact-outline" href="#/homing/boy">
            <ion-nav-view name="boy"></ion-nav-view>
        </ion-tab>
        <ion-tab  id="launch-tab3" title="Girl" icon="ion-ios-heart" href="#/homing/girl">
            <ion-nav-view name="girl" nav-direction="forward"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>

