<ion-header-bar align-title="center" class="bar-positive">
  <h1 class="title">Play Girl</h1>
</ion-header-bar>


<form class="list " id="playGirl-form3" style="margin-top:100px;">
    <label id="playGirl-input1" class="item item-input ">
        <span class="input-label">Your name</span>
        <input placeholder="" ng-model="namegirl" type="text">
    </label>
</form>

<ion-content class="has-header" padding="true" style="background: url(img/Hu3DolYpR6GzyK0RETGN_vintage-tumblr-wallpapers-hd-free-for-desktop.jpg) no-repeat center;background-size:cover;">

        <button style="margin-top:150px;" ng-click="girl()" class=" button button-royal button-large button-block " style="border-radius:10px 10px 10px 10px;" id="playGirl-button5">Launch</button>

</ion-content>
